${imports}

${variables}

const config = {
  entry: ${entry},
  output: {
    path: path.resolve(__dirname, 'public'),
    filename: 'build/bundle.js'
  },
  module: {
    ${rules}
  },
  resolve: {
    ${extensions}
  }${plugins}
};

module.exports = config;